body {
   width: 90%;
   max-width: 800px;
   margin: 50px auto;
   font-family: "raleway";
   padding: 20px;
   border-radius: 10px;
   box-shadow: 5px 10px #888888;
   border: solid;
   border-color: #888888;
}

html {
    box-sizing: border-box;
    background-repeat: no-repeat;
    background-size: cover;
}

input {
    margin-bottom: 1em;
    width: 80%;
}

label {
    display: block;
    margin: 1em 0 2em;
}

input,
select,
textarea {
    display: block;
    width: 100%;
    font-size: 20px;
    background-color: #fbfbfb;
    border: solid 1px #ccc;
    resize: vertical;
    border-radius: 10px;
}

input[type="email"],
input[type="tel"] {
    margin-bottom: 1em;
}

select {
    color: indigo;
    background-color: bisque;
}

textarea {
    max-height: 18px;
}

input[type=checkbox],
input[type=radio] {
    display: inline;
    width: auto;
}

input[type=submit]:hover {
    background-color: green;
}

input[type=reset]:hover {
    background-color: brown;
}

input[type="email"]:focus,
input[type="tel"]:focus,
input[type="text"]:focus {
    background-color: rgb(157, 156, 156);
}

input[type="email"]:hover,
input[type="tel"]:hover,
input[type="text"]:hover {
    background-color: rgb(157, 156, 156);
}

form {
    z-index: 1;
}

